/* static/styles.css */
body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d6d6d6;
}

h1 {
  color: #333;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-gallery.active {
  display: flex;
  flex-wrap: wrap;
  max-width: 210mm;
  /* A4 width */
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
}

.image-item {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.upload_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-buttons {
  display: flex;
}

.album-btn {
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  background-color: #015f01;
  color: #fff;
  border: none;
  margin: 10px;
}