@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

::selection {
    background: #000a04;
    color: #fff;
}

body {
    background-color: #09AB46;
    width: 60%;
    margin: auto;
}

form {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}


.d-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.img-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.img-flex img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #09ab46;
}

.img-flex input[type="file"] {
    display: block;
    width: 100%;
}

.center {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-top {
    margin-top: 20px;
}

.my-1 {
    margin: 10px auto;
}

div input {
    background: #09ab46;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

h2 {
    font-size: 3rem;
    text-decoration: underline;
    color: #fff;
}


label {
    font-size: 18px;
    color: #09ab46;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #09ab46;
    font-size: 20px;
    outline: none;
    font-weight: 900;
    margin-bottom: 10px;
}

option {
    background: #00220d;
    color: #fff;
    width: auto;
    text-align: center;
}

.btn {
    padding: 20px;
    color: #fff;
    background-color: #000;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
    width: 100%;
}

/* profile result  */

.profile_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#upload_data {
    margin-left: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

#profile {
    display: none;
    padding: 5px 10px;
    background-color: #fff;
    width: 397.36px;
    height: 566.1px;
    margin: auto;
    font-size: 14px;
}

.download-btn {
    max-width: 200px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

#downloadjpg-btn {
    display: none;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-6 {
    width: 45%;
}

.img {
    width: 130px;
}

.img-container img {
    width: 115px;
    overflow: hidden;
    height: 85px;
    border: 2px solid #09AB46;
}

.img-container:nth-child(2) img {
    width: 120px;
    height: 80px;
}

.img-container:nth-child(3) img {
    width: 80px;
    height: 80px;
}


@media (max-width:880px) {
    body {
        width: 90%;
    }

    .img-flex {
        flex-direction: column;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 1.3rem;
    }

    div input {
        width: 250px;
    }

    label {
        font-size: 16px;
    }

    input,
    select {
        padding: 8px;
        font-size: 13px;
        font-weight: 200;
        margin: 0 0 6px;
    }
}