<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dstep album </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">
    <!-- link css -->
    <link rel="stylesheet" href="{{url_for('static', path='/css/styl.css') }}">
    <!-- cdn to download picture -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas/dist/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
</head>

<body>
    <img src="{{url_for('static',path='asset/dstepLogo.jpg') }}" alt="Dsteplogo" class="logo center my-1" id="hide">
    <h2 class="center" id="hide">Fill in the form</h2>

    <!-- form colllection -->
    <form method="POST" action="/users/" id="myForm">

        <div class="img-flex m-top">
            <!-- profile picture -->
            <div>
                <strong>profile Image</strong>
                <img id="profilePicture" name="profilePicture"
                    src="https://icons.veryicon.com/png/o/internet--web/website-blog-utility-icon/personal-center-human-shape.png"
                    alt="Profile Picture">
                <input type="file" id="profilePicInput" accept="image/*" name="profilePicInput" required>
            </div>

            <!-- nin slip -->
            <div>
                <strong>Nin Image</strong>
                <img id="ninImage" name="ninImage"
                    src="https://icons.veryicon.com/png/o/internet--web/website-blog-utility-icon/personal-center-human-shape.png"
                    alt="Profile Picture">
                <input type="file" id="ninInput" accept="image/*" name="ninInput" required>
            </div>

            <!-- finger print -->
            <div>
                <strong>Finger image</strong>
                <img id="fingerprintPicture"
                    src="https://i.pinimg.com/474x/6e/9d/69/6e9d6978e8625606021cf8cbc57e6e15.jpg"
                    alt="fingerprint-Picture" name="fingerprintPicture">
                <input type="file" id="fingerprintInput" accept="image/*" name="fingerprintInput" required>
            </div>
        </div>
        <!-- nin -->
        <label for="nin">NIN</label>
        <input type="text" id="nin" name="nin" maxlength="11" minlength="11" required>
        <!-- firstname -->
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required>
        <!-- middlename -->
        <label for="middleName">Middle Name</label>
        <input type="text" id="middleName" name="middleName">
        <!-- lastname -->
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required>
        <!-- DSTEPRegNo -->
        <label for="dstepRegNo">DSTEP Reg. No. (Type the last 4 digits of your DSTEP Reg. No.)</label>
        <input id="dstepRegNo" name="dstepRegNo" type="text" maxlength="32" value="IDEAS/IGF/NPCU/92/B/OYO-NHC/" />
        <!-- admittedCourse -->
        <label for="admittedCourse">DSTEP Admitted Course</label>
        <input type="text" id="admittedCourse" name="admittedCourse">
        <!-- email -->
        <label for="personalEmail">Personal Email</label>
        <input type="email" id="personalEmail" name="personalEmail" required>
        <!-- officialEmail -->
        <label for="officialEmail">Official Email</label>
        <input type="email" id="officialEmail" name="officialEmail">
        <!-- gender -->
        <label for="gender">Gender</label>
        <select class="option" id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <!-- PhoneNumber -->
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" maxlength="15" minlength="11" required>
        <!-- WhatsappNumber -->
        <label for="whatsappNo">Whatsapp Number</label>
        <input type="text" id="whatsappNo" name="whatsappNo" maxlength="15" minlength="11">
        <!-- dob -->
        <label for="dateOfBirth">Date of Birth (dd/mm/yyyy)</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth">

        <!-- Age -->
        <label for="age">Age</label>
        <!-- <select class="option" id="age" name="age">
            <option value="0-17">0-17</option>
            <option value="18-30">18-30</option>
            <option value="31-45">31-45</option>
            <option value="46-60">46-60</option>
            <option value="60above">60</option>
        </select> -->
        <input type="text" id="age" name="age">
        <!-- physicalChallenge -->
        <label for="physicalChallenge">Physical Challenge</label>
        <input type="text" id="physicalChallenge" name="physicalChallenge">
        <label for="employmentStatus"> EmploymentStatus</label>
        <input type="text" id="employmentStatus" name="employmentStatus">
        <!-- state of residence -->
        <label for="stateOfResidence">Residence(State/LGA/Town)</label>
        <input type="text" id="stateOfResidence" name="stateOfResidence">
        <!-- state of origin -->
        <label for="stateOfOrigin">Origin (State/LGA/Town)</label>
        <input type="text" id="stateOfOrigin" name="stateOfOrigin">
        <!-- highestQualification -->
        <label for="highestQualification">Highest Qualification</label>
        <select class="option" id="highestQualification" name="highestQualification">
            <option value="ssce">SSCE</option>
            <option value="nce">NCE</option>
            <option value="ond">OND</option>
            <option value="hnd">HND</option>
            <option value="bsc">BSc</option>
            <option value="pgd">PGD</option>
            <option value="msc">MSc</option>
            <option value="phd">PhD</option>
            <option value="other">OTHER</option>
        </select>
        <!-- LastInstitutionAttended -->
        <label for="lastInstitutionAttended">Last Institution Attended</label>
        <input type="text" id="lastInstitutionAttended" name="lastInstitutionAttended">
        <!-- TertiaryCourseOfStudy -->
        <label for="tertiaryCourseOfStudy">Tertiary Course of Study</label>
        <input type="text" id="tertiaryCourseOfStudy" name="tertiaryCourseOfStudy">
        <!-- occupation -->
        <label for="occupation">Occupation</label>
        <input type="text" id="occupation" name="occupation">
        <!-- submit -->
        <input type="submit" value="Submit" id="submit-btn" class="btn">
    </form>

    <!-- data collected for printing  -->
    <div>
        <div id="profile">
            <img src="{{url_for('static',path='asset/dstepLogo.jpg')}}" alt="DSTEP" class="img">


            <div class="container">
                <div class="d-flex">
                    <!-- passport  -->
                    <div class="img-container">
                        <img class="print-img" id="profile_picture"
                            src="https://icons.veryicon.com/png/o/internet--web/website-blog-utility-icon/personal-center-human-shape.png"
                            alt="Profile Picture">
                    </div>

                    <!-- nin slip upload -->
                    <div class="img-container">
                        <img class="print-img" id="profile_nin"
                            src="https://icons.veryicon.com/png/o/internet--web/website-blog-utility-icon/personal-center-human-shape.png"
                            alt="Profile Picture">

                    </div>

                    <!-- fingerprint image -->
                    <div class="img-container">
                        <img class="print-img print-img2" id="profile_fingerprint"
                            src="https://i.pinimg.com/474x/6e/9d/69/6e9d6978e8625606021cf8cbc57e6e15.jpg"
                            alt="Fingerprint">

                    </div>
                </div>
            </div>
            <!-- profile data  -->
            <div>
                <div class="profile_info" id="ninNumber"></div>
                <div class="profile_info" id="profile_firstname"></div>
                <div class="profile_info" id="profile_middlename"></div>
                <div class="profile_info" id="profile_lastname"></div>
                <div class="profile_info" id="profile_dstepRegNo"></div>
                <div class="profile_info" id="profile_admittedCourse"></div>
                <div class="profile_info" id="profile_personalEmail"></div>
                <div class="profile_info" id="profile_officialEmail"></div>
                <div class="profile_info" id="profile_gender"></div>
                <div class="profile_info" id="profile_phone"></div>
                <div class="profile_info" id="profile_whatsapp"></div>
                <div class="profile_info" id="profile_dob"></div>
                <div class="profile_info" id="profile_age"></div>
                <div class="profile_info" id="profile_physicalChallenge"></div>
                <div class="profile_info" id="profile_employmentStatus"></div>
                <div class="profile_info" id="profile_stateOfResidence"></div>
                <div class="profile_info" id="profile_stateOfOrigin"></div>
                <div class="profile_info" id="profile_highestQualification"></div>
                <div class="profile_info" id="profile_institutionAttended"></div>
                <div class="profile_info" id="profile_courseOfStudy"></div>
                <div class="profile_info" id="profile_occupation"></div>
                <!-- <div id="dateTime">Dated: </div> -->
            </div>
        </div><br>
        <!-- download btn for profile -->
        <button id="downloadjpg-btn" class="btn download-btn">Download Profile</button><br>
        <!-- link to upload profile  -->
        <div id="upload_data">
            <h3>After you have download the profile</h3>
            <a href="/upload_images">Click here to Upload your Profile</a>
        </div>


    </div>


    <!-- Scripting section -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{url_for('static', path='js/script.js')}} "></script>


    <!-- <script src="/static/js/script.js "></script> -->

</body>

</html>